/*.toast {
  &-success {
    background-color: var(--ion-color-success-shade);
    color: white;
  }
  &-warning {
    background-color: var(--ion-color-warning-shade);
    color: white;
  }
  &-danger {
    background-color: var(--ion-color-danger-shade);
    color: white;
  }
}*/
