$gap-avatar-item: 32px;

.carusel-container {
  margin-top: 16px;
  overflow-x: auto;
  .carusel-cards {
    //--margin-carusel-card: 71px;
    display: inline-flex;
    margin: 0px var(--margin-carusel-card);
    gap: 32px;
  }
}

.container-avatar {
  margin-top: 32px;
  .lista-avatar {
    --size-avatar: 120px;

    display: inline-flex;
    flex-direction: row;
    gap: $gap-avatar-item;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: all 0.8s;
    & {
      margin-left: calc(
        50% - (var(--size-avatar) / 2) -
          ((var(--size-avatar) + $gap-avatar-item) * var(--pos))
      );
    }
    .avatar {
      width: var(--size-avatar);
      transition: all 0.5s;
      border-radius: 50%;
    }
    .avatar-selected {
      border-color: var(--ion-color-primary);
      border: 4px solid var(--ion-color-primary);
      padding: 8px;
    }
  }
}

.text-label-avatar {
  text-align: center;
}
.disabled-player {
  filter: brightness(0.5);
  //border: 4px solid var(--ion-color-primary);
  //border-radius: 50%;
  padding: 8px;
}

.footer-buttons {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
}
