.file-upload-container {
  display: flex;
  height: 200px;
  width: calc(100% - 32px);
  background: var(--ion-color-step-350);
  margin: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  flex-direction: column;
  .image{
    width: 100px;
    height: 100px;
  }
  input{
    display: none;
  }
}
