.file-upload-container {
  display: flex;
  min-height: 150px;
  width: calc(100% - 32px);
  background: var(--ion-color-step-350);
  margin: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  flex-direction: column;
  position: relative;
  .container-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    gap: 8px;
    .image{
      width: 85px;
      height: 85px;
    }
  }
  input{
    display: none;
  }
}
