<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="home-container-1" (click)="siguiente()">
    <h1 class="title">
      <strong> CARD GAME </strong>
    </h1>
    <div class="card-list" [class.anim-back-direction]="backwardsAnim">
      <div class="group">
        <img class="card-1" src="/assets/imgs/card-wars.png" />
        <img class="card-2" src="/assets/imgs/card-wars.png" />
        <img class="card-3" src="/assets/imgs/card-wars.png" />
      </div>
    </div>
  </div>
</ion-content>
