<ion-content class="container-login">
  <div class="blur-background"></div>

  <div class="card-login">
    <div class="title-login">
      <h2>
        <!-- <ion-icon name="logo-ionic" color="primary" size="large"></ion-icon> -->
        Mobile App
      </h2>
    </div>
    <ion-card-content>
      <ion-input
        label="Username"
        label-placement="floating"
        fill="solid"
        placeholder="Enter text"
        type="text"
      ></ion-input>

      <br />
      <!-- PASSWORD-->

      <ion-input
        label="Password"
        label-placement="floating"
        fill="solid"
        placeholder="Enter password"
        type="password"
      ></ion-input>

      <br />

      <ion-button expand="block" (click)="login()">Login</ion-button>

      <div class="register-container">
        <a (click)="register()">Register</a>
      </div>

      <div class="last-button-continue">
        <span (click)="continue()">Continue anyway</span>
      </div>
    </ion-card-content>
  </div>
</ion-content>
