<ion-content class="container-login">
  <div class="blur-background"></div>

  <div class="card-login">
    <div class="title-login">
      <img src="assets/icon/logoColor.svg" height="80" />
      <h2>
        <!-- <ion-icon name="logo-ionic" color="primary" size="large"></ion-icon> -->
        Mobile App
      </h2>
    </div>
    <ion-card-content>
      <form [formGroup]="formAuth">
        <ion-input
          label="Username"
          formControlName="username"
          label-placement="floating"
          fill="solid"
          placeholder="Enter text"
          type="text"
        ></ion-input>

        <br />
        <!-- PASSWORD-->

        <ion-input
          label="Password"
          formControlName="password"
          label-placement="floating"
          fill="solid"
          placeholder="Enter password"
          type="password"
          (keyup.enter)="login()"
        ></ion-input>
      </form>

      <br />

      <ion-button
        expand="block"
        (click)="login()"
        [disabled]="formAuth.invalid"
      >
        Login
      </ion-button>

      <div class="register-container">
        <a (click)="register()">Register</a>
      </div>

      <div class="last-button-continue">
        <ion-nav-link [routerDirection]="'forward'" [routerLink]="'/card-games/votacion'">
          Continue anyway
        </ion-nav-link>
      </div>
    </ion-card-content>
  </div>
</ion-content>
