ion-header.header-md {
  border-bottom: 1px solid var(--ion-color-medium-shade);
  box-shadow: none;
  -webkit-box-shadow: none;
  //Solo se centra el texto del titulo
  //.header-container:not(& > ion-searchbar)
  ion-title{
    text-align: center;
  }
}
