
//tarjetas
$padding-tarjeta: 16px;

.tarjeta-container {
  width: 250px;
  height: 350px;
  border: 1px solid #ccc;
  &.selected{
    border: 2px solid var(--ion-color-primary);
  }
  &.disabled{
    filter: brightness(0.5);
  }
  .imagen {
    width: 100%;
  }
  .tarjeta-front {
    width: 100%;
    height: 100%;
    padding: $padding-tarjeta;
    background-color: #202d47;
    position: relative;
    color: var(--ion-color-primary);
    .border-tarjeta {
      position: absolute;
      border: 2px solid #0D1524;
      width: calc(100% - ($padding-tarjeta * 2));
      height: calc(100% - ($padding-tarjeta * 2));
    }
    .name {
      font-weight: bold;
      font-size: 20px;
      position: absolute;
    }
  }
}
